

# Assignment 1 - Python Basics

### A note for this assignment

Submit this notebook with your answers included below each question.


| Exercise | Point |
| --- | --- |
| 1 | 10 |
| 2 | 10 |
| 3 | 10 |
| 4 | 10 |
| 5 | 10 |
| 6 | 10 |
| 7 | 10 |
| 8 | 10 |
| 9 | 10 |
|10 | 10 |
| **Total** | **100** |

### Exercise 1

**Given this nested list, use indexing to grab the word "python".**

In [1]:
lst = [1,2, [3, 4], [5, [100, 200, ['python']], 23, 11], 1, 7]

### Exercise 2

**Given this nested dictionary grab the word "python".**

In [2]:
d = {'k1':[1, 2, 3, {'tricky':['oh','man','inception',{'target':[1, 2, 3, 'python']}]}]}

### Exercise 3

**Create a list L with odd length.  Complete the following tasks:**


 - Find the median element
 - Slice out all element indexed lower than the median element
 
```
An example of a list L:
L= [4, 5, 3, 2, 6, 6, 9]
```

### Exercise 4


**a) Swap the following two tuples using one line of python code:**

```
tuple1 = (10, 23)
tuple2 = (97, 33)
```

**Expected output:**
```
tuple1 = (97, 33)
tuple2 = (10, 23)
```

**b) Modify the first item (22) of a list inside a following tuple to 222**

```
tuple1 = (11, [22, 33], 45, 56)
```

**Expected output:**
```
tuple1 = (11, [222, 33], 45, 56)
```

### Exercise 5

**Write a code that grabs the email website and prints out the domain:**

**Example**    
```
my_name@domain.com
```

**Expected output:**
```
domain.com
```

### Exercise 6

Consider the following python data structures and write one use case for each of them.
- string
- list
- tuple
- dictionary
- set

### Exercise 7

Given the list nums = [5, 6, 7, 8, 9, 10, 11, 12], write the code that would index into the list and return the sublist [9, 10, 11].

### Exercise 8

Using python indexing, change the name **`Jason** to **Oliver** in the below data structure

In [1]:
customers = [{'id':'1234','full_name': {'first_name': 'Jason', 'last_name': 'Smith'}},
        {'id':'2345','full_name': {'first_name': 'Tom', 'last_name': 'Albert'}},
        {'id':'3456','full_name': {'first_name': 'Martin', 'last_name': 'Arts'}}]

### Exercise 9

Given the below python list, display the list in the following order:

```
my_list = [100, 200, 300, 400, 500]
```

**Expected output:**
```
my_list = [500, 400, 300, 200, 100]
```

### Exercise 10

Create a string variable with your full name in it, with your first and last name (and any middle names) seperated by a space. Split the string into a list, and print out your surname.