 <h1 align=center><font size = 5>Tuples and Sets</font></h1>

## Tuples

Tuples are data structures very similar to lists but with two main differences:

1- They are represented with parentheses instead of square brackets.

2- They are immutable.

In [8]:
my_tuple = (1, 'python', 'programming', False, [1, 2])

In [9]:
my_tuple

(1, 'python', 'programming', False, [1, 2])

In [10]:
type(my_tuple)

tuple

In [13]:
tuple1 = (1,)
type(tuple1)

tuple

In [2]:
my_tuple2 = (3,)
type(my_tuple2)

tuple

In [7]:
x = (2, 3, 4)
type(x)

tuple

In [17]:
my_tuple3 = tuple((2, 3, 4))
type(my_tuple3)

tuple

In [18]:
my_tuple[2]

'programming'

Elements of tuples can be accessed with square brackets [] as with most other sequence types. Once the tuple created, it's not possible to modify which object is stored in each slot.

In [19]:
my_tuple[2] = 'Langara'

TypeError: 'tuple' object does not support item assignment

However, you can cast objects from type `tuple` into type `list` by using the verbs list.

In [20]:
my_tuple

(1, 'python', 'programming', False, [1, 2])

In [21]:
my_list = list(my_tuple)

In [22]:
my_list

[1, 'python', 'programming', False, [1, 2]]

In [23]:
my_list[2]

'programming'

In [24]:
my_list[2] = 'langara'

In [25]:
my_list

[1, 'python', 'langara', False, [1, 2]]

In [28]:
my_tuple = tuple(my_list)
my_tuple

(1, 'python', 'langara', False, [1, 2])

You can concatenate tuples using the + operator to produce longer tuples.

In [29]:
(4, 'python', 5) + (6, 7, [1, 2, 3])

(4, 'python', 5, 6, 7, [1, 2, 3])

You can multiplying a tuple by an integer, as with lists, has the effect of concatenating together that many copies of the tuple:

In [18]:
"string " * 4

'string string string string '

In [30]:
('python', 'programming', "langara") * 4

('python',
 'programming',
 'langara',
 'python',
 'programming',
 'langara',
 'python',
 'programming',
 'langara',
 'python',
 'programming',
 'langara')

### Unpacking a Tuple

If you try to assing to a tuple-like expression of variables, Python will attempt to unpack the value on the righthand side of the equals sign.

In [38]:
tup = (4, 5, 6)

In [39]:
a, b, c = tup

In [40]:
print(a)

4

In [41]:
b

5

In [42]:
c

6

# Unpacking Using Asterisk *

If the number of variables is less than the number of values, you can add an `*` to the variable name and the values will be assigned to the variable as a list:

In [72]:
courses = ("java", "python", "c", "css", "html")
a, b, *c = courses

In [73]:
a

'java'

In [74]:
b

'python'

In [75]:
c

['c', 'css', 'html']

# Sets

A set is an unordered collection of unique elements with no duplicate items. A set can be created in two ways: via the `set` function or via using curly braces {}.

In [44]:
my_set = {1, 2, 3, 4, 3, 2, 1, 1, 1, 1, 1, 1}

In [45]:
my_set

{1, 2, 3, 4}

In [32]:
my_set2 = {"a", "a", 2, 2}
print(my_set2)

{2, 'a'}

In [2]:
my_set = set([2, 2, 2, 1, 3])

In [3]:
my_set

{1, 2, 3}

Sets are unordered, which means that they can't be indexed.

In [48]:
my_set[0]

TypeError: 'set' object is not subscriptable

The `add()` method adds an element to the set.

In [50]:
my_set

{1, 2, 3}

In [51]:
my_set.add('hello')

In [52]:
my_set

{1, 2, 3, 'hello'}

In [53]:
my_set.add("monday")

In [54]:
my_set

{1, 2, 3, 'hello', 'monday'}

In [55]:
my_set.update(("tuesday", "langara"))

In [56]:
my_set

{1, 2, 3, 'hello', 'langara', 'monday', 'tuesday'}

The `remove()` method removes the specified element from the set.

In [57]:
my_set

{1, 2, 3, 'hello', 'langara', 'monday', 'tuesday'}

In [58]:
my_set.remove('hello')

In [62]:
my_set

{1, 2, 3, 'langara', 'tuesday'}

In [63]:
my_set.remove('langara')
my_set

{1, 2, 3, 'tuesday'}

# Union

Returns a set that contains all items from both sets, duplicates are excluded

In [69]:
x = {"langara", "python", "programming"}
y = {"python", "Monday", "assignment"}
u = {"lab", "quiz", "python", "python", "python"}

In [70]:
z = x.union(y, u)

In [71]:
print(z)

{'assignment', 'python', 'lab', 'programming', 'Monday', 'quiz', 'langara'}

# Intersection

Return a set that contains the items that exist in both sets or all sets

In [67]:
result = x.intersection(y, u)

In [68]:
print(result)

{'python'}