
## SF Salaries Exercise 


For this exercise, you will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle!. You can also used the SF Salaries Dataset on D2L to answer the questions. Please download the "Salaries.csv" file from kaggle or D2L and complete the below exercises. Please submit the completed jupyter notebook file to D2L.

**Exercise 1**

**Import pandas as pd.**

**Read Salaries.csv as a dataframe called sal.**

**Check the head of the DataFrame.**

**Exercise 2 - Use the .info() method to find out how many entries there are.**

**Exercise 3 - What is the average BasePay ?**

**Exercise 4 - What is the highest amount of OvertimePay in the dataset ?**

**Exercise 5 - What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

**Exercise 6 - How much does JOSEPH DRISCOLL make (including benefits)?**

**Exercise 7 - What is the name of highest paid person (including benefits)?**

**Exercise 8 - What is the name of lowest paid person (including benefits)?**

**Exercise 9 - What was the average (mean) BasePay of all employees per year? (2011-2014)?**

**Exercise 10 - How many unique job titles are there?**

**Exercise 11 - What are the top 5 most common jobs?**

**Exercise 12 - How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

**Exercise 13: Is there a correlation between length of the Job Title string and Salary?**