<h1 align=center><font size = 5>Lab06</font></h1>
<h1 align=center><font size = 4>Python Basics - Operations & Strings</font></h1>

### Exercise 1
Whenever you are experimenting with a new feature,you should try to make mistakes. For example, in the“Hello, world!” program, what happens if you leave out one of the quotation marks? What if you leave out both? What if you spell print wrong?

In [8]:
print('Hello World!')

Hello World!

In [1]:
print("hello world')

SyntaxError: EOL while scanning string literal (<ipython-input-1-278f78f45249>, line 1)

We’ve seen that n = 42 is legal. What about 42 = n?

In [10]:
n = 42
n

42

In [16]:
42 = n
n

SyntaxError: can't assign to literal (<ipython-input-16-6ea918304861>, line 1)

How about x = y = 1?

In [19]:
x = y = 1
x, y

(1, 1)

In some languages every statement ends with a semi-colon, ;. What happens if you put a semi-colon at the end of a Python statement?

In [41]:
type(12);

What if you put a period at the end of a statement?

In [24]:
type(12).

SyntaxError: invalid syntax (<ipython-input-24-3bb1d09c7997>, line 1)

In math notation you can multiply x and y like this: xy. What happens if you try that in Python?

In [27]:
xy

NameError: name 'xy' is not defined


### Exercise 2
Start the Python interpreter or jupyter notebook and type 'help()' to start the online help utility. Or you can type help('print') to get information about the 'print' statement.

In [1]:
help('print')

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

Use a web browser to go to the Python website, http://python.org/. This page contains information about Python and links to Python-related pages, and it gives you the ability to search the Python documentation. For example, if you enter print in the search window, the first link that appears is the documentation of the print statement. At this point, not all of it will make sense to you, but it is good to know where it is.

### Exercise 3

What is 7 to the power of 4?

In [ ]:
7**4

### Exercise 4

If you run a 10 kilometer race in 42 minutes 42 seconds, what is your average time (seconds) per mile? what is your average time (minutes) per mile? (Hint: there are about 1.61 kilometers in a mile.)

In [13]:
(42 * 60 + 42) / (10 / 1.61)

412.482

In [14]:
(42 * 60 + 42) / (10 / 1.61) / 60

6.874700000000001

In [1]:
60 / 6.874700000000001 # miles per hour

8.727653570337614

### Exercise 5
Assume that we execute the following assignment statements:

In [58]:
width = 17
height = 12
delimiter = '.'

For each of the following expressions, write the value of the expression and the type (of the value of the expression). 

width/2

width/2.0

height/3

1 + 2 * 5

delimiter * 5

Use the code to check your answers.

In [15]:
width = 17
width/2
type(width/2)

float

In [16]:
width = 17
width/2.0
type(width/2.0)

float

In [19]:
height = 12
height/3
type(height/3)

float

In [20]:
1 + 2 * 5
type(1 + 2 * 5)

int

In [21]:
delimiter = '.'
delimiter * 5
type(delimiter * 5)

str

### Exercise 6
Type an integer with a leading zero and see the error

In [22]:
05
type(05)

SyntaxError: invalid token (<ipython-input-22-b9b8d9f4d6f0>, line 1)

### Exercise 7
The volume of a sphere with radius 'r' is '4/3' π r3. What is the volume of a sphere with radius 5?

pi = 3.1415926535897932

In [5]:
pi = 3.1415926535897932
r = 5
4 / 3 * pi * r**3

523.5987755982989

### Exercise 8
Suppose the cover price of a book is \\$24.95, but bookstores get a 40% discount. Shipping costs \\$3 for the first copy and 75 cents for each additional copy. What is the total wholesale cost for 60 copies?

In [1]:
24.95 * 0.6 * 60 + 3 + 0.75 * 59

945.4499999999999

### Exercise 9

 Add parentheses to the following expression so that it evaluates to 1.
    
 5 - 3 // 2

In [2]:
(5 - 3) // 2

1

Add parentheses to the following expression so that it evaluates to 0

8 - 3 * 2 - 1 + 1

In [3]:
(8 - 3 * 2) - (1 + 1)

0

### Exercise 10

Alice, Bob and Carol have agreed to pool their Halloween candy and split it evenly among themselves.
For the sake of their friendship, any candies left over will be smashed. For example, if they collectively
bring home 91 candies, they'll take 30 each and smash 1.

Write an arithmetic expression below to calculate how many candies they must smash for a given haul.

In [89]:
# Variables representing the number of candies collected by alice, bob, and carol
alice_candies = 121
bob_candies = 77
carol_candies = 109

# Your code goes here! Replace the right-hand side of this assignment with an expression
# involving alice_candies, bob_candies, and carol_candies
to_smash = -1

In [12]:
alice_candies = 121
bob_candies = 77
carol_candies = 109
to_smash = (alice_candies + bob_candies + carol_candies) % 3
to_smash

1