<h1 align=center><font size = 5>Lab04</font></h1>
<h1 align=center><font size = 4>Python Basics </font></h1>

### Exercise 1

Given a Python dictionary, Change Bradâ€™s salary to 8500

In [57]:
my_dict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

### Exercise 2

 Access the value of key 'history'

In [58]:
my_dict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

### Exercise 3

Copy element 44 and 55 from the following tuple into a new tuple

In [5]:
tuple1 = (11, 22, 33, 44, 55, 66)

### Exercise 4

Add a list of elements to a given set - order is not a concern in set

In [105]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleList = ["Blue", "Green", "Red"]

### Exercise 5

Access value 20 from the following tuple

In [59]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

### Exercise 6

Modify the first item (32) of a list inside a following tuple to 322.

In [50]:
tuple1 = (11, [32, 33], 44, 55)

### Exercise 7

Write a Python program to sum all the values in the below dictionary with all the values in the list.

In [55]:
my_dict = {'data1':100,'data2':-54,'data3':247}
my_list = [100, 200]

In [57]:
sum(my_dict.values()) + sum(my_list)

593

### Group Exercise 8
#### For this exercise students should work in breakout rooms

1- Python has two built-in methods that you can use on tuples. Conduct your reasearch. What are those methods? Provide one example for each method.

2- Dictionary has a built-in method called `Update()`. Learn about this method and provide one example.

3- Given the following dictionary

```
my_dict = {
  "name": "Kelly",
  "age":25,
  "salary": [3000, 8000, 2000],
  "cities": ["Vancouver", "New York", "Toronto"]
  
}
```

- Add a key to the dictionary called "countries".

- Set the value of countries to be a list consisting of the strings "Canada", "USA".

- Sort the items in the list stored under 'salary' key (ascending order)

- Remove "Vancouver" from the list of items stored under the "cities" key.

- Add 1000 to the first number stored under the 'salary' key. Expected output for the salary key: `"salary": [3000, 3000, 8000]`