

<h1><center>Midterm- CPSC 4800</h2></center>



<h3><center> Python</h3></center>

## Instructions

1. You should answer questions in this Jupyter notebook file and submit the file on D2L.
2. The exam is open book. You can look at all the course materials, labs, solutions, etc on D2L. However, you are not allowed to communicate or receive help from anyone else during the exam. 
3. The work submitted must be your own. Plagiarism and cheating will be dealt with very seriously.
4.	If the instructor realizes that a student cheated during the exam, he/she will receive a grade of zero for the final.

**Warning**: 
By submitting an exam file, you promise that the code you have submitted is your own and you did not communicate with or receive help from anyone else.

| Question | Point |
| --- | --- |
| 1 | 10 |
| 2 | 10 |
| 3 | 10 |
| 4 | 10 |
| 5 |10 |
| 6 | 10 |
| 7 | 10 |
| 8 | 10 |
| 9 | 10 |
|10 | 10 |
| **Total** | **100** |

## Question 1

 Suppose you have list of prices for a certain products. Your job is to find the difference between the lowest price product and highest priced product.
#### For example:
#### Input: 25,10,5,30,2
#### Output: 28

In [3]:
main=[25,10,5,30,2]
a = min(main)
b = max(main)
b-a

28

## Question 2

You are given a task to create a mask for sending certain message.Write a code that replaces all the odd places in the given message string with * sign.
#### For example
#### input: Python is the best programming language
#### output: P * t * o *

In [57]:
word = 'Python'
new = ''
for i in range (len(word)):
    if i%2==0:
        new = new+word[i]
    else:
        new = new+'*'
    
print(new)

P*t*o*

## Question 3

Suppose you have dictionary of employees with employee name and age:

{"Bernita Ahner": 12, "Kristie Marsico": 11, 
                      "Sara Pardee": 14, "Fallon Fabiano": 11, 
                      "Nidia Dominique": 15}

Write a function to find the oldest employee and display his name and age. Also tell how many years are left for retirement if retirement age is 59. Write docstring for your function

**output:**
####              Name = Nidia Dominique
####              Age = 15
####              Years to retirement= 44

In [33]:
l={"Bernita Ahner": 12, "Kristie Marsico": 11, "Sara Pardee": 14, "Fallon Fabiano": 11, "Nidia Dominique": 15}
def oldest(l):
    age = max(l.values())
    print(age)
    
    
oldest(l)

15

## Question 4

Given the list:

```
my_list = ["course_1", "course_2", ["programming", ["python", "SAS", "R"]]]
```

Write the code that would index into the list and return the sublist ["SAS", "R"].

In [37]:
my_list = ["course_1", "course_2", ["programming", ["python", "SAS", "R"]]]
my_list[2][1][1:3]

['SAS', 'R']

## Question 5

Using python indexing, change key_3  **Gaby** to **Raymon** in the below data structure

In [73]:
my_dictionary = [{'id':'1234','key_1': {'key_2': 'Jason', 'key_3': 'Smith'}},
        {'id':'2345','key_1': {'key_2': 'Tom', 'key_3': 'Albert'}},
        {'id':'3456','key_1': {'key_2': 'Martin', 'key_3': 'Arts'}},
             {'id':'6789','key_1': {'key_2': 'Julie', 'key_3': 'Gaby'}}]

my_dictionary[3]['key_1']['key_3'] = 'Raymon'
my_dictionary

[{'id': '1234', 'key_1': {'key_2': 'Jason', 'key_3': 'Smith'}},
 {'id': '2345', 'key_1': {'key_2': 'Tom', 'key_3': 'Albert'}},
 {'id': '3456', 'key_1': {'key_2': 'Martin', 'key_3': 'Arts'}},
 {'id': '6789', 'key_1': {'key_2': 'Julie', 'key_3': 'Raymon'}}]

## Question 6

Write a function order_numbers that compares two numbers and return them in the increasing order. Write docstring for your function. Test out your function per the expected output.

Expected output:

```
order_numbers(10, 5)
(5, 10)
```

In [81]:
def order_numbers(a,b):
    new_l = [a,b]
    new_l.sort()
    return(tuple(new_l))
    
    
order_numbers(10, 5)

(5, 10)

## Question 7

Write a function countChar that takes as its arguments two strings, s and c, and return the number of times the character c occurs in the string s. we wiil assume that c is always a string of length 1 (a single character). Here are some samples calls to this fucntion with the correct output given:

```
>> countChar("HELLO", "L")
2
>>countChar ("hello", "m")
0
>> countChar("", "L")
0
```

To get the full points, you will need to write a nice docstring above the function that briefly describes what the funciton does and what its inputs and outputs are. You should also test your function according to all the above examples.

In [85]:
def countChar(s,c):
    '''This function will count a specific value in "c" and count how many time it will apperar in the
    the variable "s".'''
    num = s.count(c) 
    return num 
    
countChar('hello', 'l')

2

## Question 8

Write a function that takes a list of numbers as its argument and return the average of the numbers.

Here are some samples calls to this fucntion with the correct output given:

```
>> average([1, 2, 3, 4, 5, 6])
3.5
>>average([10, 20, 30])
20.0
```

To get the full points, you will need to write a nice docstring above the function that briefly describes what the
funciton does and what its inputs and outputs are. You should also test your function according to all the above examples.

In [91]:
import statistics as sts
l = [1, 2, 3, 4, 5, 6]
def get_mean(l):
    '''Get the list and return the mean of the list.'''
    mean = sts.mean(l)
    return mean
get_mean(l)

3.5

## Question 9

Go through all the numbers up until 20 (including 20). Print "your name" for every number that’s divisible by 3, print your family name for every number divisible by 5, and print 'python' for every number divisible by 3 and by 5! If the number is not divisible either by 3 or 5, print a dash ('-')!

In [101]:
for i in range(1,21):
    if (i % 5 == 0) and (i%3==0):
        print('-')
    elif (i%3==0):
        print('Machado')
    elif (i % 5 == 0):
        print('python')
    else:
        print(i)

1
2
Machado
4
python
Machado
7
8
Machado
python
11
Machado
13
14
-
16
17
Machado
19
python

## Question 10

- Import the  necesary libraries and read the csv file weatherHistory.csv

- Print the head of the dataframe
- Print the complete infomation of data  (Summary of the dataframe)
- Which type of Weather has the maximum count in the dataset?(Weather type column is the summary column in the dataset)
- What is the standard deviation of the wind speed?
- Out of all the available records, which date has the lowest  humidity ?
- Out of all records, how many records are equal to the median value of Apparent Temperature?

In [106]:
import pandas as pd
df = pd.read_csv('weatherHistory.csv')
df.head()

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.
2,2006-04-01 02:00:00.000 +0200,Mostly Cloudy,rain,9.377778,9.377778,0.89,3.9284,204.0,14.9569,0.0,1015.94,Partly cloudy throughout the day.
3,2006-04-01 03:00:00.000 +0200,Partly Cloudy,rain,8.288889,5.944444,0.83,14.1036,269.0,15.8263,0.0,1016.41,Partly cloudy throughout the day.
4,2006-04-01 04:00:00.000 +0200,Mostly Cloudy,rain,8.755556,6.977778,0.83,11.0446,259.0,15.8263,0.0,1016.51,Partly cloudy throughout the day.

In [110]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               95936 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Loud Cover                96453 non-null  float64
 10  Pressure (millibars)      96453 non-null  float64
 11  Daily Summary             96453 non-null  object
dtypes: float64(8), object(4)
memory usage: 8.8+ MB

In [111]:
df.shape

(96453, 12)

In [116]:
df.groupby("Daily Summary").mean()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
Daily Summary,,,,,,,,
Breezy and foggy starting in the evening.,4.523843,0.485880,0.979583,21.327133,137.833333,6.888117,0.0,991.355417
Breezy and foggy until morning.,-4.869213,-10.947222,0.803750,21.448554,257.166667,7.986942,0.0,1014.138750
Breezy and mostly cloudy overnight.,3.755787,-0.340741,0.733750,19.908992,248.833333,12.492258,0.0,1007.213333
Breezy and partly cloudy in the afternoon.,28.097917,27.488657,0.418333,16.992208,223.541667,11.504792,0.0,1005.110000
Breezy in the morning and foggy in the evening.,0.743750,-5.121528,0.802083,26.870900,27.541667,10.797733,0.0,1013.686250
...,...,...,...,...,...,...,...,...
Partly cloudy until night.,17.675495,17.282404,0.650827,9.637616,198.950397,11.919778,0.0,1011.081989
Rain throughout the day.,10.128241,9.285880,0.892917,11.803313,167.625000,9.109246,0.0,1014.335417
Rain until afternoon.,11.701157,11.328009,0.868333,11.276708,69.000000,0.000000,0.0,1021.991250
Rain until morning.,9.304630,8.253009,0.797083,8.918058,264.958333,10.307354,0.0,1016.951250
Windy in the afternoon.,4.538889,1.004167,0.722917,18.857125,258.416667,7.235608,0.0,341.752917

In [113]:
sts.stdev(df['Wind Speed (km/h)'])

6.913571012591992

In [119]:
#Get the minimum value
min(df['Humidity'])
print(df['Formatted Date'])

0.0

In [129]:
#Get the median value of Apparent Temperature
#median(df['Apparent Temperature'])

median = df['Apparent Temperature (C)'].median()
print(f'Median = {median}')
value = df['Apparent Temperature (C)'].value_counts()[12]
print(f'Values equal to median: {value}')

Median = 12.0
Values equal to median: 19